/* @import './base.css';
*/



@font-face {
  font-family: 'WorkSans';
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/fonts/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'WorkSans';
  color: #003842;
}

h2 {
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;
  color: #49A986;
}


.bg-color-0 {
  background: #F3C857 !important;
}

svg.fill-color-0 path {
  fill: #F3C857 !important;
}

.bg-color-1 {
  background: #E0A166 !important;
}

svg.fill-color-1 path {
  fill: #E0A166 !important;
}

.bg-color-2 {
  background: #DC5D7B !important;
}

svg.fill-color-2 path {
  fill: #DC5D7B !important;
}

.bg-color-3 {
  background: #ABD398 !important;
}

svg.fill-color-3 path {
  fill: #ABD398 !important;
}

.bg-color-4 {
  background: #65B1AD !important;
}

.bg-color-5 {
  background: #F3C857 !important;
}

.bg-color-6 {
  background: #E0A166 !important;
}

svg.fill-color-4 path {
  fill: #65B1AD !important;
}

.btn {
  border-radius: 25px;
  background: var(--blanc, #FFF);
  padding: 12px 30px;


  /* Botó/Medium */
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #003842;
  text-decoration: none;
}

.btn-start {
  background: var(--senpir-verd-fosc, #003842);
  color: #fff;
  padding: 14px 30px;
}
.button-img{
  margin-left: 6px;
}

blockquote{
  font-style: italic;
}

@media (min-width: 600px) {  
  .container {
    max-width: 420px;
  }
}
